body, html{
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: GothamProRegular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 60%; /* интерлиньяж */
    background-image: url("picture/background_2.jpg");
    background-attachment: scroll; /* позволяет перемещаться фону вместе с содержимым */
    background-origin: padding-box; /* фон позиционируется относительно края элемента с учетом толщины границы */
    background-clip: border-box; /* Фон выводится под границами */
    background-color: transparent; /* Устанавливает прозрачный фон */
    background-size: cover; /* Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока */
}
footer{
    padding: 0;
    margin: 0 auto;
    bottom: 0;
    overflow: hidden; /* Отображается только область внутри элемента, остальное будет скрыто */
}
*{
    box-sizing: border-box;       /* Свойства width и height включают в себя */
    -moz-box-sizing: border-box;  /* значения полей и границ, но не отступов (margin) */
    -webkit-box-sizing: border-box;
}
#menu{
    height: 10%;
    text-transform: uppercase; /* Все символы текста становятся в верхний регистр */
    width: 100%;
    padding-right: 15px; /* внутренний отступ справа*/
    padding-left: 15px;  /* внутренний отступ слева*/
    margin-left: auto;   /* внешний отступ */
    margin-right: auto;  /* внешний отступ */
    margin-top: 10px;
    border-color: red;   /* граница */

}
.global-navigation{
    width: 100%;
    position: relative;  /* положение относительно его исходного места элемента */
    min-height: 1px;  /* задает минимальную высоту элемента */
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu ul{
    list-style: none; /* текст выравнивается по левому краю, а маркеры размещаются за пределами текстового блока */
    margin-top: 15px;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
#menu ul li{
    box-sizing: border-box;
    display: inline-block;
    line-height: 36px;
    /*border: 2px transparent solid;*/

}
#menu ul li a{
    /*transition: all .2s;*/
    padding: 0 15px;
    height: 100%;
    width: 100%;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
   /* border: 10px solid hsla(0, 0%, 100%, .5);
    border-radius: 5px;
    background-clip: padding-box;*/
    text-decoration: none;
}
#menu li:hover {
    background-color: cornflowerblue; /* Цвет фона под ссылкой */
    color: white; /* Цвет ссылки */
   /* border-radius: 5px;*/
    /*border: 1px solid aquamarine;*/
}
.share a{
    height: 40px;
    width: 40px;
    display: inline-block;
    overflow: hidden;
}
a.facebook{
    background-image: url("picture/fb_icon_1.png");
    background-attachment: scroll; /* позволяет перемещаться фону вместе с содержимым */
    background-origin: padding-box; /* фон позиционируется относительно края элемента с учетом толщины границы */
    background-clip: border-box; /* Фон выводится под границами */
    background-color: transparent; /* Устанавливает прозрачный фон */
    background-size: cover; /* Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока */
}
a.twitter{
    background-image: url("picture/tw_icon.png");
    background-attachment: scroll; /* позволяет перемещаться фону вместе с содержимым */
    background-origin: padding-box; /* фон позиционируется относительно края элемента с учетом толщины границы */
    background-clip: border-box; /* Фон выводится под границами */
    background-color: transparent; /* Устанавливает прозрачный фон */
    background-size: cover; /* Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока */
}