.content{
    height: 500px;
    width: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    padding-top: 68px;
}
p.content__contact{
    height: 400px;
    width: 450px;
    font-family: GothamProRegular, Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
    line-height: 60%;
    text-transform: uppercase;
    display: inline-block;
}
/*.empty{
    height: 500px;
    width: 10px;
}*/
iframe{
    width: 447px;
    height: 390px;
    display: inline-block;
    padding-right: 57px;
}
