/* Style the list */
.breadcrumb ul{
    padding: 10px 16px;
    list-style: none;
    background-color: inherit;
    font-size: 17px;
}

/* Display list items side by side */
.breadcrumb ul li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb ul li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb ul li a {
    color: white;
    text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb ul li a:hover {
    color: white;
    text-decoration: underline;
}